<!DOCTYPE html>
<html lang="en">
<head>
    <title>User page</title>
</head>
<body>
    <div>
        <a href="/logout" type="button" class="btn btn-link">Logout</a></a>
        <a href="/success" type="button" class="btn btn-link">Dashboard</a>
    </div>
    <div>
        <h1>Posts by: {{user.first_name}}</h1>
        <h2>Count: {{countQuotes}}</h2>
    </div>

    <div class="list-group">
        {% for quo in quotesMade %}
        <div class="list-group-item list-group-item-action flex-column align-items-start" >
            <p class="mb-1">{{quo.author}}: {{quo.content}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>